.leader-board {
  text-align: center;
  padding: 20px;
  width: 592px;
  margin-left: 479px;
}

.cryptic-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.top-teams {
  font-size: 24px;
  margin-bottom: 20px;
}

.winners {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
}

.container {
  text-align: center;
  margin: 0 20px;
}

.position-image-container {
  margin-bottom: 10px;
}

.position-image {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}

.team-leader-image-container {
  margin-bottom: 10px;
}

.team-leader-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team-info {
  font-size: 16px;
}

.team-leader {
  font-weight: bold;
  margin-bottom: 5px;
}

.team-leader-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.team-result {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-pts-heading {
  font-weight: bold;
}

.team-pts-num {
  color: green;
  font-weight: bold;
}

.line-image-container {
  margin: 20px 0;
}

.line-image {
  width: 100%;
  height: 2px;
  background-color: #ccc;
}

.complete-leader-board {
  margin-top: 20px;
}

.complete-leader-board-heading,
.complete-leader-board-elements {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.rank, .team-name, .question-solved, .points, .finish-time {
  flex: 1;
  text-align: center;
}

.rank-element, .team-element, .question-solved-element, .points-element, .finish-time-element {
  flex: 1;
  text-align: center;
}

.user-2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.team-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-image-element {
  margin-right: 10px;
}

.winners .container:first-child {
  order: 2;
}

.winners .container:nth-child(2) {
  order: 1;
  margin-top: 30px; /* Move 2nd place down */
}

.winners .container:nth-child(3) {
  order: 3;
  margin-top: 30px; /* Move 3rd place down */
}
