
.delete-btn {
    
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .delete-btn:hover {
    background-color: #ff2216; 
    color: white; 
  }

  .post-1 {
    position: relative;
    padding-right: 40px; 
  }
  
  .delete-post-btn {
    position: absolute;
    top: 0;
    right: 0;
  }


  /* Your existing styles for .post-1 outside of the media query */

@media screen and (max-width: 850px) and (min-width: 500px) {
  /* Styles for screens between 500px and 850px */
  .post-1 {
    /* Adjust the styling as needed for this screen size range */
    padding-right: 20px; /* Example adjustment */
  }
}

  