.prof-and-events1 {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50px;
  right: 0px;
}

#edit-prof-pic {
  position: relative;
  top: 23vh;
  left: 14.5vw;
  z-index: 100;
  /* border: 0.5px solid rgb(0, 0, 0); */
  border-radius: 100%;
  box-shadow: 2px 2px 10px 2px rgb(76, 177, 236);
}

#edit-prof-pic:hover {
  opacity: 0.92;
  cursor: pointer;
}

.common-prof1 {
  width: 95%;
  position: relative;
  box-shadow: 0px 0px 20px rgb(201, 200, 200);
  border-radius: 16px;
  height: 500px;
  background-image: url("../../images/Robo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.name-cont {
  padding: 0px 25px;
  position: relative;
  top: -35px;
}

.about-title {
  margin-bottom: 10px;
}

.about {
  margin: 0px 9px;
  padding: 0px 23px;
}

.common-prof-info1 {
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
#mypost {
  transition: transfrom 0.3s ease;
}

#mypost:hover {
  transform: scale(1.1);
}

.prof-image-common1 {
  height: 135px;
  width: 135px;
  background-size: cover;
  border-radius: 100%;
  background-color: #ffffff;
  position: relative;
  top: -60px;
}

/* .mentorRing {
	border-radius: 100%;
	position: relative;
	top: -60px;
} */

.user-name1 {
  display: flex;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  gap: 5px;
}

.verified-logo {
  margin-top: 4px;
}

.follow span:nth-child(1) {
  border-radius: 17px;
  padding: 10px;
  background: rgb(99, 203, 207);
  color: white;
}
.follow span:nth-child(2) {
  background-color: transparent;
  color: black;
  border: 1px solid gray;
}

.view-my-prof1 {
  padding: 8px 36px 8px 36px;
  border: 2px solid #108cff;
  border-radius: 25px;
  color: #108cff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.view-my-prof1:hover {
  background-color: #108cff;
  color: white;
}

.follow-fetch-btn {
  cursor: pointer;
}

.follow-fetch-btn:hover {
  cursor: pointer;
  background: rgb(94, 205, 209);
}

@media only screen and (max-width: 1400px) {
  .prof-and-events1 {
    right: 70px;
  }
}
@media only screen and (max-width: 1190px) {
  .common-prof1 {
    width: 100%;
  }
  .prof-and-events1 {
    width: 70%;
    max-width: 1000px;
    min-width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 500px) {
  .prof-and-events1 {
    margin-top: 50px;
  }

  .about {
    margin: 0px 9px;
    padding: 0px 15px 0px 35px;
  }

  .prof-image-common1 {
    height: 60px;
    width: 60px;
    background-size: cover;
    border-radius: 100%;
    background-color: #ffffff;
    position: relative;
    top: -60px;
  }

  #edit-prof-pic {
    position: relative;
    top: 18vh;
    left: 49.5vw;
    z-index: 100;
    border-radius: 100%;
    box-shadow: 2px 2px 10px 2px rgb(76, 177, 236);
  }
}
