.edit-input {
  background-color: #108cff;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 40px;
  height: auto;
}

.edit-input:hover {
  background-color: #108cff98;

  border: 4px solid #2e4c691d;
  /* box-shadow: 0px 8px 20px 0px #25ced126; */
}

.edit-pass {
  background: #108cff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: 4px solid white;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  border-radius: 40px;
}

.edit-pass:hover {
  background-color: #108cff98;
}

.social-details {
  text-wrap: wrap;
  background: transparent;
  /* padding: 20px; */
  background: linear-gradient(
    179.81deg,
    #effcff 0.17%,
    rgba(247, 239, 255, 0.5) 57.42%,
    rgba(240, 255, 180, 0) 114.68%
  );
}

@media only screen and (max-width: 1400px) {
  .dash-main {
    /* position: relative; */
    margin-inline: 10vw;
    width: 100%;
  }

  .editor-ids {
    justify-content: normal;
  }

  .social-details {
    width: 150%;
  }
}

