.ph-container {
  border: 1px solid gray;
  width: 48%;
  margin: 11vh 23vw;
  border-radius: 15px 15px 0px 0px;
  min-height: 65vh;
  font-size: 1.1rem;
}

.ph-bg{
  border-radius: 15px 15px 0px 0px;
  height: 30vh;
  width: 100%;
}

.ph-pic {
  width: 9vw;
  height: 9vw;
  border: none;
  border-radius: 100%;
  background: linear-gradient(
    129.66deg,
    #fd0c0c 11.73%,
    #ffb800 36.2%,
    #0eab00 63.09%,
    #108cff 88.77%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15vw;
  left: 25vw;
}

.ph-pic img {
  width: 8.5vw;
  height: 8.5vw;
  border-radius: 100%;
}

.ph-details {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
}

.ph-name {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
  align-items: center;
}

.ph-headline {
  color: gray;
}

.ph-follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.ph-followings, .ph-follwers {
    cursor: pointer;
}

.ph-linkedin {
  display: flex;
  gap: 5px;
  color: #108cff;
}
