.ph-container {
  border: 1px solid gray;
  width: 50%;
  margin: 11vh 23vw;
  border-radius: 15px 15px 0px 0px;
  min-height: 70vh;
  font-size: 1.1rem;
}

.ph-bg {
  border-radius: 15px 15px 0px 0px;
  height: 30vh;
  width: 100%;
}

.ph-pic,
.ph-pic-pub {
  width: 9vw;
  height: 9vw;
  border: none;
  border-radius: 100%;
  background: linear-gradient(
    129.66deg,
    #fd0c0c 11.73%,
    #ffb800 36.2%,
    #0eab00 63.09%,
    #108cff 88.77%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.ph-pic img,
.ph-pic-pub img {
  width: 93%;
  height: 93%;
  border-radius: 100px;
  cursor: pointer;
}

.ph-pic-pub {
  position: absolute;
  top: 32vh;
  left: 13vw;
}

.ph-pic-pub2 {
  width: 9vw;
  height: 9vw;
  position: absolute;
  top: 15vw;
  left: 12.5vw;
  border-radius: 100%;
}

.ph-pic2 {
  width: 9vw;
  height: 9vw;
  position: absolute;
  top: 15vw;
  left: 12.5vw;
  border-radius: 100%;
}

.ph-details {
  position: relative;
  top: 8vh;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  padding: 10px 30px;
  height: max-content;
  padding-bottom: 70px;
}

.ph-name {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 1rem;
}

.ph-headline {
  color: gray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.ph-headline2 {
  color: rgb(85, 85, 85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#ph-mypost {
  background: #108cff;
  padding: 8px 14px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  border: 2px solid transparent;
  font-size: 15px;
}

#ph-mypost:hover {
  color: black;
  background: white;
  border: 2px solid #108cff;
}

.ph-follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 10px;
}

.ph-followings,
.ph-follwers {
  cursor: pointer;
}

.ph-linkedin {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #108cff;
  margin-top: 1rem;
}

.ph-linkedin img {
  height: 30px;
}

@media screen and (max-width: 1500px) {
  .ph-container {
    margin: 11vh 11vw;
    min-height: 76vh;
  }
  .ph-pic {
    left: 13vw;
  }
}

@media screen and (min-width: 1500px) {
  .ph-pic2 {
    width: 9vw;
    height: 9vw;
    position: absolute;
    top: 15vw;
    left: 24.5vw;
    border-radius: 100%;
  }
  .ph-pic-pub {
    position: absolute;
    top: 32vh;
    left: 25vw;
  }
}

@media screen and (max-width: 500px) {
  .ph-details {
    top: 6vh;
  }
  .ph-container {
    margin-inline: auto;
    margin-top: 10vh;
    min-height: 59vh;
    width: 100%;
    position: relative;
    border-radius: 0px;
  }
  .ph-bg {
    border-radius: 0px;
  }
  .ph-pic {
    left: 5vw;
    top: 27vh;
    width: 30vw;
  }
  .ph-pic img {
    width: 80vw;
    height: 30vw;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
  }
  .ph-follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
  .ph-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #108cff;
  }
}
