.earning-dash {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-left: 2vw;
  /* padding-left: 20px; */
  border-right: 1px solid #00000026;
}

.line-earning {
  position: relative;
  top: 19vh;
}

.info-dash-table {
  padding-bottom: 20px;
}

#mentee_name {
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .earning-dash {
    margin-left: 9vw;
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .earning-dash {
    width: 100%;
  }

  .line-earning {
    display: none;
  }

  .info-dash-table {
    margin-bottom: 40px;
  }
}
