

 

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.aboutpg-box-container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    
}
.aboutpg-box1 p {
    margin-right: 500px; 
    font-size: 25px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.aboutpg-box2 p{
   width: 100%;
   font-size: 25px; 
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aboutpg-box2 h2 {
    margin-bottom: 10px;
    text-align: right;
}

.aboutpg-box2 h1 {
    margin-bottom: 10px;
    text-align: right;
}
.aboutpg-box1 img {
    height: 230px;
    width: auto;
    width: 100%; /* Make the image fill the available width */
    max-width: 300px; /* Set a max width for the image */
    position: absolute; /* Position the image absolutely within the box */
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    margin-bottom: 15px;
}
.aboutpg-box1 {
    flex: 1;
    height: 1500px; /* You can adjust the height as needed */
    background-color: #ffffff; /* Example background color */
   
    border-top: 1px solid black; /* Light border at the top */
    border-left: 1px solid black; /* Light border at the left */
    border-right: 1px solid black;
    border-bottom: 5px solid black;/* Set the border width and color */
    border-radius: 30px 30px 30px 30px; 
    margin-top: 70px;
    padding: 20px;
    align-items: flex-start;
    position: relative;
    transition: background-color 0.3s ease; 
    
}
.aboutpg-box1:hover {
    background-color: #f5fc97;
    
  }
.aboutpg-box2 img {
    height: 250px;
    width: 100%; /* Make the image fill the available width */
    max-width: 300px; /* Set a max width for the image */
    position: absolute; /* Position the image absolutely within the box */
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the right position as needed */
    margin-bottom: 5px;
}
.aboutpg-box2 {
    flex: 1;
    height: 1500px; /* You can adjust the height as needed */
    background-color: #ffffff; /* Example background color */
    margin: 5px; /* Adjust margin as needed */
    border-top: 1px solid black; /* Light border at the top */
    border-left: 1px solid black; /* Light border at the left */
    border-right: 1px solid black;
    border-bottom: 5px solid black; /* Set the border width and color */
    border-radius: 30px 30px 30px 30px; 
    margin: 30px;
    padding: 20px;
    position: relative;
    transition: background-color 0.3s ease; 
}
.aboutpg-box2:hover {
  
    background-color:  #f5fc97;
    
  }
.aboutpg-box-container1 {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    max-width: 100%; /* Set max-width to 100% to make it responsive */
    margin-left: 100px;
    margin-right: 100px;
        
}

.aboutpg-box3 {
    flex: 1;
    height: 160px;
    width:150px; /* Adjust the width of the boxes as needed */
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid black; /* Light border at the top */
    border-left: 1px solid black; /* Light border at the left */
    border-right: 1px solid black;
    border-bottom: 5px solid black; /* Optional: Add a border for visualization */
    margin: 15px;
    border-radius: 30px 30px 30px 30px;
    transition: background-color 0.3s ease;
    



}
.aboutpg-box3 p{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.aboutpg-box3:hover {
    
    background-color: #a4ea91;
    
  }
.aboutpg-box4 {
    width: 80%; /* Adjust the width of the box as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid black; /* Light border at the top */
    border-left: 1px solid black; /* Light border at the left */
    border-right: 1px solid black;
    border-bottom: 5px solid black;
    border-radius: 30px 30px 30px 30px;
    position: relative;
    transition: background-color 0.3s ease; 
}
.aboutpg-box4:hover {
    
    background-color:  #f78d75;
    
  }
.aboutpg-box4 p{
    margin-bottom: 50px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.btn {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color:yellow;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 25px 25px 25px 25px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #2980b9;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}
.btn:hover {
    background-color: #2980b9;
    color: #ffffff;
    
  }
.aboutpg-box-container2 {
    display: flex;
    justify-content: space-between;
    max-width: 800px;

    max-width: 100%; /* Set max-width to 100% to make it responsive */
    margin-right: 100px;
    margin-left: 100px;
        
}
.aboutpg-box5 {
    width: 30%;
    height:180px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid black; /* Light border at the top */
    border-left: 1px solid black; /* Light border at the left */
    border-right: 1px solid black;
    border-bottom: 5px solid black;
    border-radius: 40px 40px 40px 40px;
    margin-bottom: 100px;
    background-color: #3498db;
    transition: background-color 0.3s ease; 
    
}
.aboutpg-box5 p{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.aboutpg-box5:hover {
  
    background-color:  #7ba4cd;
    
  }
.aboutpg-form-box {
    flex: 1;
    height: fit-content;
    width:45%; /* Adjust the width of the boxes as needed */
    padding: 20px;
    background-color: #f0f0f0;
    border-top: 1px solid black; /* Light border at the top */
    border-left: 1px solid black; /* Light border at the left */
    border-right: 1px solid black;
    border-bottom: 5px solid black; /* Optional: Add a border for visualization */
    margin: 15px;
    border-radius: 30px 30px 30px 30px; 
    position: relative;
    margin-bottom: 100px;
    margin-left: 30px;
    transition: background-color 0.3s ease; 
}
.aboutpg-form-box:hover {
    
    background-color:  #f5fc97;
    
  }

.aboutpg-form-box label {
    display: block;
    margin-bottom: 10px;
}

.aboutpg-form-box input {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
}

.aboutpg-form-box button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}
.aboutpg-form-box img {
    height: 250px;
    width: 100%; /* Make the image fill the available width */
    max-width: 300px; /* Set a max width for the image */
    position: absolute; /* Position the image absolutely within the box */
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    margin-bottom: 5px;
}

/* Add this at the end of your CSS file */

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .aboutpg-box-container {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutpg-box1,.aboutpg-box2{
        flex-direction: column-reverse;
    }
    .aboutpg-box1,
    .aboutpg-box2,
    .aboutpg-box3,
    .aboutpg-box4,
    .aboutpg-box5 {
    flex: 1;
    max-width: 400px;
    margin: 10px;
}
    .aboutpg-box1 p,
    .aboutpg-box2 p,
    .aboutpg-box3 p,
    .aboutpg-box4 p,
    .aboutpg-box5 p{
        font-size: 14px;
        width: 100%;
    }


    
    .aboutpg-box3,
    .aboutpg-box4,
    .aboutpg-box5 {
        width: 100%; /* Make images fill the available width */
        position: static; /* Remove absolute positioning */
        margin: 0, auto;/* Reset margin */
    }
    .aboutpg-box1 img,
    .aboutpg-box2 img,
    .aboutpg-form-box img{
        height: 100px;
        width:100%;
        position: static;
        margin: 0 auto;;
    }

    .btn {
        width: 100%; /* Make the button full-width */
        left: 0;
        transform: none; /* Reset the transform */
        margin-bottom: 10px;
    }

    .aboutpg-box-container1 {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .aboutpg-box4 {
       max-width: fit-content;
        
    }
    
    .aboutpg-box3,
    .aboutpg-box5,
    .aboutpg-form-box {
        width: 100%; /* Make boxes full-width */
        margin-left: 0; /* Reset margin */
    }
    .aboutpg-form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .form-group {
        margin-bottom: 15px;
        width: 80%; /* Set the width of the form groups */
      }
      
      /* Set the width of the input elements */
      .form-group input {
        width: 100%;
        padding: 8px; /* Add padding for better appearance */
      }

    .aboutpg-box4 p {
        margin-bottom: 20px;
    }

    .aboutpg-box-container2 {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .aboutpg-box5 {
        margin-bottom: 50px;
    }
}
/* @media screen and (min-width: 768px) and (max-width: 1280px) {
    .box1,
    .box2 {
        width: 50%;
    }
} */
@media screen and (max-width: 767px) {
    .aboutpg-box1 img,
    .aboutpg-box2 img,
    .aboutpg-box3 img,
    .aboutpg-box4 img,
    .aboutpg-box5 img,
    .aboutpg-form-box img {
        height: 100px; /* Set the desired height for smaller screens */
        max-width: 50%; /* Allow images to shrink to fit the screen width */
    }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
        .aboutpg-box-container{
            flex-direction: column;
            align-items: center;
            margin-left: auto;
            margin-right:auto ;
        }
        .aboutpg-box-container1{
            flex-direction: row;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
        }

        .aboutpg-box-container2{
            flex-direction:row;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
        }
        .aboutpg-form-box{
            max-height:fit-content;
            max-width: 50%;
        } 
        .aboutpg-box5{
           height:fit-content;
           width:fit-content;
        }


    
        .aboutpg-box1, .aboutpg-box2, .aboutpg-box3, .aboutpg-box4{
            margin-left: 20px;
            margin-right: 20px;
            height: auto;
            width:auto;
           
        }
        .aboutpg-box3{
            margin: 10px;
        }
        
        .aboutpg-box1 p,
        .aboutpg-box2 p,
        .aboutpg-box3 p,
        .aboutpg-box4 p,
        .aboutpg-box5 p{
            font-size: 30px;
            width: 100%;
        }
        /* .box3 p{
            bottom: 5px;
        } */
    
        .aboutpg-box1 img, .aboutpg-box2 img {
            position: static;
            max-width: 30%;
            left: 50%;
            
        }
        .aboutpg-form-box img{
            position: static;
            max-width: 50%;
            margin-left: 10px;
            margin-right: 10px;;
        }
    }

