body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* SCROLLBAR STYLING */
::-webkit-scrollbar-track {
	background-color: rgb(236, 234, 234);
}

::-webkit-scrollbar-thumb {
	background-color: rgb(73, 73, 73);
	border-radius: 1rem;
	border: 0.27rem solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar {
	width: 1rem;
}
