.form{
    text-align: center;
}

.myoptions{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    right: 350px;

}
h1{
    opacity: 0.5;
    font-size: 20px;
}
.star{
    padding: 15px;
}
.what{
    font-weight: 750;
    position: relative;
    right: 150px;
}
.sub{
    position: relative;
    
}
.box{
    gap:5px;
    border-radius: 8px;
    align-items: center;
    
}
.all-box{
justify-content: center;
    padding: 5px;
    /* display:flex; */
    margin:10px;

}
