.blurbg1 {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(8px);
	z-index: 1000;
}

.container1 {
	border: 1.5px solid rgb(69, 69, 69);
	border-radius: 13px;
	padding-bottom: 1vw;
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	background: white;
	overflow: hidden;
}

.author {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.3rem;
	width: 100%;
	margin-top: 2vw;
}

.img-prevw img {
	border-radius: 13px;
	/* max-width: 100%; */
	max-height: 100%;
	object-fit: contain;
	height: 430px;
	width: 100%;
	/* transform: scale(0.5); */
}

.close {
	cursor: pointer;
}

.head {
	display: flex;
	justify-content: space-around;
	gap: 260px;
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	.blurbg1 {
		backdrop-filter: brightness(20%);
		position: fixed;
		top: 0;
		left: 0;
		height: 1000vh;
		overflow: hidden;
		z-index: 1000;
	}

	.container1 {
		width: 90%;
		position: fixed;
		left: 50vw;
		top: 50vh;
		transform: translate(-50%, -50%);
	}

	.close {
		cursor: pointer;
		width: 20px;
	}
}
